.sticky_navbar {
  background-color: #262b46;
  min-height: 5vh;
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  overflow: hidden;

  img {
    max-height: 25px;
  }
}

.hide {
  display: none;
}

.show {
  display: initial;
}

.search_input {
  bottom: 50px;
  left: 120px;
  width: 250px;
  height: 3vh;
  color: #262b46;
}
