.home {
  article {
    height: 30vh;
    color: #fff;
    padding: 3rem 2rem;
  }
}

.home h2 {
  font-family: playfairDisplay;
  font-size: 3rem;
}

.home p {
  font-family: montserrat;
  font-style: 1rem;
}

.home {
  a:nth-of-type(odd) {
    article {
      background-color: rgba(128, 128, 128, 0.431);
      color: #000;
    }
  }
}

.home {
  a:nth-of-type(even) {
    article {
      background-color: #262b46;
      color: #fff;
    }
  }
}

a {
  text-decoration: none;
}
