.footer {
  height: 50vh;
  background-color: #262b46;
}

.footer h1 {
  color: #fff;
  font-family: playfairDisplay;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 5rem 3rem 0 2rem;
}

.footer p {
  font-family: montserrat;
  padding: 3rem 3rem 0 2rem;
  color: #fff;
  line-height: 1.5rem;
}
